* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.container {
    background-image: url('./bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header {
    text-align: center;
}

.card {
    background-color: transparent;
    width: 45%;
    height: 45vh;
    margin: 2rem auto;
    color: rgb(24, 34, 78);
    text-align: center;
    border-radius: 15px;
}

button {
    margin: 2rem auto;
    color: white;
    padding: 1rem;
    width: 10rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#increment-btn {
    background-color: rgb(24, 34, 78);
}

#decrement-btn {
    background-color: rgb(78, 24, 24);
}

#save-btn {
    background-color: rgb(38, 78, 24);
}

#reset-btn {
    background-color: rgb(152, 161, 15);
}

.reset-btn {
    margin-top: -2rem;
}

.view-of-counted-people {
    /* background-color: rgba(73, 52, 76, 0.72); */
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.head-2 {
    padding: 1rem;
}

#counted-people {
    margin-bottom: 2rem;
    color: white;
}